<h1>Edit Timetable</h1>

<h2>Timetable of <%= timetable.name %></h2>

<form action="/timetables/<%= timetable._id%>/update?_method=PUT" method="POST">
    <p>Name: <input type="text" name="name" value="<%= timetable.name%>"></p>
    <% helper.dow.forEach(day => { %>
        <div>
            <h3><%= day %></h3>
            <%- include('./_editForm', {day: day, timetable: timetable}) %>
        </div>
    <% }) %>

    <input type="submit" value="update">    

</form>



<script src="/javascripts/timetable.js"></script>