<h1>Timetable</h1>
<h2>Timetable of <%= timetable.name %></h2>

<% helpers.dow.forEach(day => { %>
    <div>
        <h3><%= day %></h3>
        <% timetable[day].forEach(lesson => { %>
            <li><%= `${lesson.type}: ${lesson.startTime} - ${lesson.endTime}` %></li>
        <% }) %>
    </div>
<% }) %>


<a href="/timetables/<%= timetable._id%>/edit">edit</a>
<a href="/timetables/<%= timetable._id%>/delete?_method=DELETE" onclick="return confirm('Are you sure you want to delete this record?')">delete</a>