<html>
    <head>
        <title>myApp</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            NAVIGATION
            <% if(loggedIn) { %>
                <a href="/users/<%= currentUser._id %>">Logged in as <%= currentUser.fullName %></a>
                <a href="/users/logout">Log out</a>
            <% }else{ %>
                <a href="/users/new">Sign up</a>
                <a href="/users/login">Log in</a>
            <% } %>
        </div>
        <% if(flashMessages){ %>
            <% if(flashMessages.success){ %>
                <div class="flash success"><%= flashMessages.success %></div>
            <% }else if(flashMessages.error){ %>
                <div class="flash error"><%= flashMessages.error %></div>
            <% } %>
        <% } %>

            <%- body %>
        <div>FOOTER</div>
    </body>
</html>



