<h1>Lesson</h1>
<h4>Lesson Type</h4>
<%= lesson.type %>
<h4>Date</h4>
<%= lesson.date %>
<h4>Start Time</h4>
<%= lesson.startTime %>
<h4>End Time</h4>
<%= lesson.endTime %>
<h4>Capacity</h4>
<%= lesson.capacity %>
<h4>The Number of Paticipants</h4>
<%= lesson.numberOfPaticipants %>