<h1>Lesson</h1>
<h4>Lesson Type</h4>
<%= lesson.type %>
<h4>Start Time</h4>
<%= lesson.startTime %>
<h4>Capacity</h4>
<%= lesson.capacity %>
<h4>The Number of Paticipants</h4>
<%= lesson.numberOfPaticipants %>

<!-- <% if(currentUser && currentUser._id.equals(user._id)){ %>
    <a href="/users/<%= user._id %>/delete?_method=DELETE" onclick="return confirm('Are you sure you want to delete this record?')">delete</a>
<% } %> -->
