<h1>User</h1>
<h4>Name</h4>
<%= user.fullName %>
<h4>Email</h4>
<%= user.email %>
<h4>Students</h4>
<% user.students.forEach(student => { %>
    <div><a href="/students/<%= student._id %>"><%= student.fullName %></a></div>
<% }) %>


<% if(currentUser && currentUser._id.equals(user._id)){ %>
    <a href="/users/<%= user._id %>/delete?_method=DELETE" onclick="return confirm('Are you sure you want to delete this record?')">delete</a>
<% } %>
