<h1>Edit Student</h1>

<form action="/students/<%= student._id %>/update?_method=PUT" method="POST">
    <input type="text" name="firstName" required value="<%= student.name.first%>">          
    <input type="text" name="lastName" required value="<%= student.name.last%>">          
    <input type="number" name="birthday_y" required value="<%= helpers.dateDigits(student.birthday).y %>">/          
    <input type="number" name="birthday_m" required value="<%= helpers.dateDigits(student.birthday).m %>">/          
    <input type="number" name="birthday_d" required value="<%= helpers.dateDigits(student.birthday).d %>"><br>
    <input type="email" name="email" required value="<%= student.user.email %>">          
    <button type="submit">Update</button>
</form>